<table>
    <thead></thead>
    <tbody *ngIf="summary$ | async as summary else noInfo">
        <div *ngFor="let s of summary; let i = index">
        <tr>
            <td>Title: </td>
            <td>{{ s.title }}</td>
        </tr>
        <tr>
            <td>Authors</td>
            <td>{{ s.authors }}</td>
        </tr>
        <tr>
            <td>Number of pages: </td>
            <td>{{ s.pages }}</td>
        </tr>
        <tr>
            <td>Rating:</td>
            <td>{{ s.rating}}</td>
        </tr>
        <tr>
            <td>Rating count:</td>
            <td>{{ s.rating_count }}</td>
        </tr>
        <tr>
            <td>Genre:</td>
            <td>{{ s.genres }}</td>
        </tr>
        <tr>
            <td>Book Cover: </td>
            <td>
                <img src="{{ s.url }}" width="80">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="button">Find Review</button>
                <button type="button" (click)="returnToView1()">
                    Back
                </button>
            </td>
        </tr>
    </div>    
    </tbody>
</table>

<ng-template #noInfo>No Information Found</ng-template>