<table>
    <thead></thead>
    <tbody>
        <tr>
            <td>Book title:</td>
            <td></td>
        </tr>
        <tr>
            <td>Author:</td>
            <td></td>
        </tr>
        <tr>
            <td>Reviewer:</td>
            <td></td>
        </tr>
        <tr>
            <td>Review date:</td>
            <td></td>
        </tr>
        <tr>
            <td>Summary of review:</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="button">Full review</button>
            </td>
        </tr>
    </tbody>
</table>